<% widget_style = WidgetStyle.key_string(widget.widget_style) %>
<% title widget.name %>
<%= content_for :content do %>
  <% if no_item_action %>
    <% if widget.no_item_action_type == 'image' %>
      <div class="products_reviews__no_item_image_box">
        <%= image_tag(widget.no_item_image_url, class: 'products_reviews__no_item_image') %>
      </div>
    <% end %>
  <% else %>
    <%= render 'products/reviews/product_info' %>
    <%= content_tag :div, class: "product_reviews_#{widget_style}" do %>
      <% display_write_form = brand.review_writable? && display_write_form?(@product) && allow_comment? %>
      <div class="products_reviews_list__summary_with_form">
        <div class="products_reviews_list__summary">
          <div class="products_reviews_list__reviews_count_with_score">
            <span>전체 리뷰</span>
            <span class="products_reviews_list__summary_value"><%= product.meta_visible_reviews.count %></span>개
            <span class="products_reviews_list__summary_info_divider">|</span>
            <span>포토 리뷰</span>
            <span class="products_reviews_list__summary_value"><%= product.meta_visible_reviews.with_photo.count %></span>개
            <span class="products_reviews_list__summary_info_divider">|</span>
            <span>고객 만족도</span>
            <span class="products_reviews_list__summary_value"><%= product.display_score('-') %></span>
          </div>
          <div class="products_reviews_list__likes_info">
            <i class="fa fa-heart products_reviews_list__likes_icon"></i>
            <span class="products_reviews_list__likes_value"><%= product_reviews_summary.count %></span>명이 이 제품을 좋아합니다.
          </div>
          <div class="products_reviews_list__thumbnails_container">
            <div id="lista" class="als-container">
              <span class="als-prev">
                <span class="products_reviews_list__thumbnail_back_scroll sprites-pinkage-navigator-left"></span>
              </span>
              <div class="products_reviews_list__thumbnails als-viewport">
                <ul class="als-wrapper">
                  <% review_images.each_with_index do |review_image, i| %>
                    <li class="products_reviews_list__review_image_item als-item">
                      <%= content_tag(
                        :a,
                        class: 'link-fullscreen-popup',
                        data: {
                          url: photo_review_popup_review_path(review_image.model)
                        }
                      ) do %>
                        <%= image_tag review_image.url(:thumbnail), class: 'products_reviews_list__review_image smooth' %>
                      <% end %>
                    </li>
                  <% end %>
                  <% if review_images.count == 1 %>
                    <li class="als-item" style="pointer-events: none;"></li>
                  <% end %>
                </ul>
              </div>
              <span class="als-next">
                <span class="products_reviews_list__thumbnail_forward_scroll sprites-pinkage-navigator-right"></span>
              </span>
            </div>
          </div>
        </div>
        <% if display_write_form %>
          <div class="products_reviews_list__form">
            <%= render 'reviews/form' %>
            <%= render 'products/reviews/misc_form_templates' %>
            <%= render 'common/shared/form_upload_image' %>
          </div>
        <% end %>
      </div>
      <%= content_tag :div, class: "widget widget-reviews pagination-list #{'hidden' if !product.meta_visible_reviews?} #{'no-data' if product_reviews.total_count == 0}" do %>
        <%= render 'products/reviews/list/header' %>
        <div>
          <%= content_tag :div, class: "widget-body product_reviews_#{widget_style}__body" do %>
            <%= render "#{widget.base_path}/body" %>
          <% end %>
          <div class="product_reviews__footer">
            <%= render "#{widget.base_path}/footer" %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
