<%
likes = likes?(review)
like = get_like(review)
%>
<%= content_tag :div, class: "inline like-action #{(like.score > 0 ? 'liked' : 'unliked') if likes} review_action_likes__like", data: {url: like_review_path(review)} do %>
  <div class="review_action_likes__like_icon_container">
    <a class="review_action_likes__like_link review_action_likes__like_link--like link-like">
      <span class="review_action_likes__like_icon sprites-pinkage-heart-o"></span>
    </a>
    <a class="review_action_likes__like_link review_action_likes__like_link--liked link-like">
      <span class="review_action_likes__like_icon sprites-pinkage-heart"></span>
    </a>
  </div>
  <div class="review_action_likes__like_text">좋아요 <span class="review_action_likes__like_count"><%= review.total_score %></span>개</div>
  <% if local_assigns[:hide_edit] != true %>
    <%
    deletable = review.deletable?(current_user)
    editable = review.editable?(current_user)
    %>
    <% if deletable || editable %>
      <div class="inline edit-review-container">
        <% if editable %>
          <% edit_path = edit_review_path(review, group: @group_by, widget_id: widget.id, review: params[:review]) %>
          <% if current_user %>
            <%= link_to edit_path, method: :post, remote: true do %>
              <span class="edit-review hoverable"><%= t('edit') %></span>
            <% end %>
          <% else %>
            <%= content_tag :span, t('edit'), class: 'edit-review hoverable edit-nonmember', data: {action: 'POST', path: edit_path, prompt: t('reviews.likes.prompt_guest_edit')} %>
          <% end %>
        <% end %>
        <div class="inline edit-review-container-line"></div>
      </div>
    <% end %>
  <% end %>
<% end %>
<div class="review_action_likes__comment_info">
  <span class="review_action_likes__comment_icon sprites-pinkage-icon-comment link-expand"></span>
  <span class="review_action_likes__comments_count">댓글 <%= review.comments_count %>개</span>
</div>
