<%= content_tag_for :li, review, class: "reviews_index_gallery_review #{'reviews_index_gallery_review--no_margin_right' if review_counter % 4 == 3}", data: {product_url: review.product_url || (review.product ? review.product.url : nil)} do %>
  <% product = review.product %>
  <% review_position = @first_review_position_in_page - review_counter if @first_review_position_in_page %>
  <%= content_tag :div, review_position, class: 'review-position' if @first_review_position_in_page %>

  <%= content_tag :div, class: 'link-fullscreen-popup', data: {url: photo_review_popup_review_path(review)} do %>
    <div class="reviews_index_gallery_review__thumbnail_container">
      <ul>
        <li class="reviews_index_gallery_review__review_image_thumbnail">
          <%= image_tag review.image(1).url(:gallery), class: 'reviews_index_gallery_review__review_image smooth', alt: review.title %>
        </li>
      </ul>
      <%= render 'shared/images_indicator', images_count: review.images_count %>
    </div>
    <div class="reviews_index_gallery_review__author_info">
      <div class="reviews_index_gallery_review__title">
        <%= content_tag :span, review_position, class: 'review-position-placeholder' if @first_review_position_in_page %>
        <%= review.message.limit(max_bytes_per_line: 46, max_lines: 2, ellipsis: '...', flatten: true) %>
      </div>
    </div>
  <% end %>

  <% if product %>
    <div class="reviews_index_gallery_review__product link-product">
      <div class="reviews_index_gallery__product_thumbnail">
        <%= image_tag review.product_image_url, class: 'reviews_index_gallery_review__product_image', alt: review.product_name, width: 90, height: 90 %>
      </div>
      <div class="reviews_index_gallery__product_info">
        <div class="reviews_index_gallery__product_info_title">
          <%= review.product_name %>
        </div>
        <div class="reviews_index_gallery__product_info_feedbacks">
          <span class="reviews_index_gallery__product_reviews_count"><%= t('reviews.label_review') %><strong><%= product.meta_reviews_count %></strong></span>
          <span class="reviews_index_gallery__product_display_score"><%= t('reviews.label_score') %><strong><%= product.display_score %></strong></span>
        </div>
        <div class="reviews_index_gallery__date_name_container">
          <div class="reviews_index_gallery__author_name">
            <% if review.user_display_name.blank? %>
              &nbsp;
            <% else %>
              <%= review.user_display_name %>
            <% end %>
          </div>
          <div class="reviews_index_gallery__created_at">
            <%= review.created_at.strftime("%Y. %-m. %-d") %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="reviews_index_gallery_review__product"></div>
  <% end %>
<% end %>
